@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');
$menu-background: #191C20;
$border-color: #131418;
$button-color: teal;
$background-color: #2B2F39;
$button-text-color: #8C93A5;

body {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: $background-color;

}

#preloader {
  position: fixed;
  z-index: 9999;
  left: 48%;
  top: 40%;

  img {
    //  width: 50px;
    //  height: 50px;
  }
}

#controls {
  display: flex;
  flex-wrap: wrap;
  background: $menu-background;
  padding: 20px 0 10px 20px;
  //justify-content: space-between;
  //flex: 1;
  .settings-section {
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
  }
  // Stepper plus minus buttons

  .stepper {
    .button {
      width: 20px;
      height: 20px;
      padding: 10px;
      border: 1px solid $border-color;
      text-align: center;
      font-size: 1.5em;
      line-height: 20px;
      color: $button-text-color;
      background: darken($background-color, 3%);
      cursor: pointer;

      &:hover {
        background: $background-color;
        color: white;
      }
    }

    .left {
      border-radius: 6px 0 0 6px;
    }

    .right {
      border-radius: 0 6px 6px 0;
    }

    .miliseconds {
      width: 80px;
      height: 40px;
      background: white;
      border: 1px solid black;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
    }
  }

  label {
    border: 1px solid $border-color;
    background: darken($background-color, 3%);
    color: $button-text-color;
    padding: 5px;
    width: 100%;
    min-width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 0.8em;
    cursor: pointer;

    &:first-of-type {
      border-radius: 6px 0 0 6px;
    }

    &:last-of-type {
      border-radius: 0 6px 6px 0;
    }

    &:hover {
      background: $background-color;
      color: white;
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: $background-color;
    color: white;
  }
}

#sound-sequences {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background: $background-color;
  //justify-content: space-between;;
  button {
    flex-grow: 1;
    //width: 100px;
    min-width: 200px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid darken($button-color, 5%);
    background: $button-color;
    color: white;
    font-size: 1em;

    &:hover {
      background: lighten($button-color, 5%);
      cursor: pointer;
    }
  }
}
