#chords {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  //justify-content: space-between;;
    button {
      width: 100px;
      padding: 20px;
      margin: 15px;
      border-radius: 10px;
      box-shadow: 0;
      border: 3px solid red;
      background: orange;
      color: white;
      font-size: 1em;
    }
}
